<footer class="steam-footer">
  <div class="container">
    <div class="row">
      <!-- Logo & Description -->
      <div class="col-md-3">
        <img src="assets/img/logo_black.svg" alt="Logo" class="footer-logo">
        <p class="footer-text">Votre plateforme dédiée à la technologie reconditionnée et au divertissement numérique.</p>
      </div>

      <!-- Quick Links -->
      <div class="col-md-3">
        <h6 class="">Liens rapides</h6>
        <ul class="footer-links">
          <li><a href="#">Accueil</a></li>
          <li><a href="#">Boutique</a></li>
          <li><a href="#">Communauté</a></li>
          <li><a href="#">Assistance</a></li>
        </ul>
      </div>

      <!-- Legal & Policies -->
      <div class="col-md-3">
        <h6 class="">Informations légales</h6>
        <ul class="footer-links">
          <li><a href="#">Politique de confidentialité</a></li>
          <li><a href="#">Conditions d'utilisation</a></li>
          <li><a href="#">Politique de retour</a></li>
        </ul>
      </div>

      <!-- Social Media -->
      <div class="col-md-3">
        <h6 class="">Suivez-nous</h6>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-x"></i></a>
          <a href="#"><i class="fab fa-discord"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>

    <hr>

    <div class="footer-bottom">
      <p>© 2025 Nexus. Tous droits réservés.</p>
    </div>
  </div>
</footer>
